ul.pagination {
    list-style: none;
    margin: 0;
    padding: 20px 20px 10px 20px;
}
ul.pagination.row {
    padding: 20px 0 10px 0;
}
ul.pagination .inner {
    padding: 20px 10px 0 20px !important;
}
ul.pagination li {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    margin: 0 15px 10px 0;
}
ul.pagination li:last-child {
    margin: 0;
}
ul.pagination li a {
    display: inline-block;
    min-width: 10px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #ddd;
    line-height: 30px !important;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #555;
    font-size: 13px;
}
ul.pagination li.active a,
ul.pagination li a:hover
{
    background-color: #0B93C9;
    color: #fff;
}